.container {
  padding: 48px;
  background-color: white;
  box-shadow: -4px 4px 0px 0px;
  border: 1px solid black;
  border-radius: 1.2rem;
  width: 550px;
  height: 500px;
}

.container h1 {
  border-left: 8px solid black;
  padding-left: 14px;
  font-size: 3rem;
  margin-bottom: 24px;
}

.container p {
  font-size: 1.2rem;
}

.container span {
  display: flex;
  align-items: center;
  font-weight: light;
}
