@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: "Inter", "Courier New", Courier, monospace;
  background-color: rgb(255, 232, 202);
  background-image: url('./assets/TaV5FmN-minimalist-backgrounds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}